.proyectos {
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.proyectos h1 {
    font-size: 1.5rem;
    text-align: center;
    height: 120px;
}
section#project__filters {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.project__language, .project__type {
    background-color: #5B2A79;
}
.project__language {
    border-radius: 25px;
    padding: 1em 2em;
}
.project__type {
    border-radius: 100px;
    padding: 1em;
}
.project__language p, .project__language span, .project__type p, .project__type span {
    color: white;
}
p.project__type {
    color: #5b2a79!important;
    font-weight: bolder;
    font-size: 1rem;
}
p.project__lblStartDate, span.project__numStartDate, p.project__lblEndDate, span.project__numEndDate {
    font-size: 0.85rem;
}
.project__container {
    background-color: #BEAEC2;
    width: 45%;
    margin: 1em;
    padding: 1em;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.project__container p, .project__container span {
    color: black;
}
.project__CheckBoxes, .project__DropDownLists {
    display: flex;
}
#project__CheckBoxes div, #project__DropDownLists div {
    padding: 0 1em;
}
.project__firstRow, .project__secondRow, .project__thirdRow {
    display: flex;
    justify-content: space-evenly;
}
.project_secondRow {
    flex-direction: column;
}
.project__users {
    display: flex;
}
.project__participantsContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}